@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
    --color-Licorice: #190501;

    --color-orange: #ffc0c0;
    --color-rust: #8e0606;

    --color-penn-red: #fbeded;

    --color-blood-red: #400e04;

    --font-dm-sans: DM Sans, sans-serif;

    --breakpoint-xs: 480px;

}

@layer base {
    body {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        background: #000000;
        background-image: linear-gradient(139deg, black 70%, var(--color-Licorice) 100%);
    }


    h1 {
        @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
    }

    h2 {
        @apply text-2xl font-bold text-white sm:text-3xl;
    }

    main {
        @apply min-h-screen relative ;
    }

    header {
        @apply sm:mt-10 mt-5;
    }

    header img {
        @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
    }
}

@layer components {

    .wrapper {
        @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
    }

    .trending {
        @apply mt-20;

        & ul {
            @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
        }

        & ul li {
            @apply min-w-[230px] flex flex-row items-center;
        }

        & ul li p {
            @apply fancy-text mt-[22px] text-nowrap;
        }

        & ul li img {
            @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
        }
    }

    .slide {
        @apply bg-cover bg-center h-auto w-full sm:min-h-[300px] md:min-h-[500px] grid grid-cols-8 bg-fixed ;

        & .slideContent {
            @apply lg:col-span-6 m-2 flex-row md:p-4 col-span-full content-center max-w-3/4 mb-40 z-10 ;
        }

        & p {
            @apply backdrop-blur-sm;
        }

        & .slide_poster {
            @apply hidden lg:block lg:max-w-64 lg:col-span-2 mb-9 rounded-xl p-2 shadow-inner shadow-red-950 z-0 block self-end content-center;
        }
        & .watch_trailer button {
            @apply flex flex-row items-center gap-2 relative h-11 overflow-hidden rounded-4xl bg-rust px-6 py-3.5 text-white transition-all duration-300 hover:bg-red-600 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2
        }
    }
    .show_more_button {
        @apply relative text-xl bg-[linear-gradient(#262626,#262626),linear-gradient(#8e0606,#8e0606)] bg-[length:100%_2px,0_2px] bg-[position:100%_100%,0_100%] bg-no-repeat text-white transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#8e0606];

    }
    .rating {
        @apply flex flex-row items-center gap-1;
    }

    & .rating img {
        @apply size-4 object-contain;
    }

    & .rating p {
        @apply font-bold text-base text-white;
    }


    .searchTermsContainer {
        @apply flex flex-row ;
    }
    .search {
        @apply w-full bg-orange/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;
        /*@apply grid col-span-full lg:col-span-5;*/
        & div {
            @apply relative flex items-center;
        }

        & img {
            @apply absolute left-2 h-5 w-5;
        }

        & input {
            @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-rust outline-hidden;
        }
    }

    .all-movies {
        @apply space-y-9;

        & ul {
            @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
        }
    }

    .sort_by_menu {
        @apply flex flex-col items-start px-4 py-3 lg:mt-2  col-span-1 text-white;

        & label {
            @apply text-rust;
        }

        & select option {
            @apply text-rust;
        }

        & select {
            @apply text-white rounded bg-black;
        }
    }

    .movie-card {
        @apply bg-Licorice p-5 rounded-2xl shadow-inner shadow-red-800;

        & img {
            @apply rounded-lg h-auto w-full;
        }

        & h3 {
            @apply text-white font-bold text-base line-clamp-1;
        }

        & .content {
            @apply mt-2 flex flex-row items-center flex-wrap gap-2;
        }



        & .content span {
            @apply text-sm text-penn-red;
        }

        & .content .lang {
            @apply capitalize text-penn-red font-medium text-base;
        }

        & .content .year {
            @apply text-penn-red font-medium text-base;
        }
    }
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
    -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
    font-size: 190px;
    font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}